version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # We will manually update these as we drop compatibility for older versions.
      - dependency-name: "protobuf"
      - dependency-name: "types-protobuf"
