[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cel-python = "==0.1.5"
protobuf = "==5.*"

[dev-packages]
pytest = "*"
mypy = "*"
ruff = "*"
types-protobuf = "*"
exceptiongroup = "*"
tomli = "*"

[requires]
python_version = "3.8"
