[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cel-python = "==0.2.*"
protobuf = "==6.*"
google-re2 = "*"

[dev-packages]
google-re2-stubs = "*"
pytest = "*"
mypy = "*"
ruff = "*"
types-protobuf = "*"
exceptiongroup = "*"
tomli = "*"

[requires]
python_version = "3.9"
