name: CI
on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 22 * * *'
  workflow_dispatch: {} # support manual runs
permissions:
  contents: read
jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        resolution: ["highest", "lowest-direct"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: false
      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies with resolution ${{ matrix.resolution }}
        run: UV_RESOLUTION=${{ matrix.resolution }} make install
      - name: Execute tests
        run: make test
      - name: Lint
        run: make lint
      - name: Format
        run: make format
      # When running with matrix.resolution == lowest, we expect uv.lock to change, but we don't want that file checked in.
      - if: matrix.resolution == 'highest'
        name: Check generated
        run: make checkgenerate
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
