name: CI
on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: [main]
  workflow_dispatch: {} # support manual runs
permissions:
  contents: read
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        resolution: ["highest", "lowest-direct"]
    env:
      # Shared env variables for all the tests
      UV_RESOLUTION: "${{ matrix.resolution }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
          cache: false
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: make install
      - name: Lint
        run: make lint
      - name: Execute tests
        run: make test
      - name: Test conformance
        run: make conformance
      - name: Format
        run: make format
      # When running with matrix.resolution == highest, we expect uv.lock to change, but we don't want that file checked in.
      - if: matrix.resolution == 'lowest-direct'
        name: Check generated
        run: make checkgenerate
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
