name: CI
on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 22 * * *'
  workflow_dispatch: {} # support manual runs
permissions:
  contents: read
jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v5
      - name: Install Python ${{ matrix.python-version }}
        id: python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Execute tests
        run: make test PYTHON=${{ steps.python.outputs.python-path }}
      - name: Lint
        run: make lint PYTHON=${{ steps.python.outputs.python-path }}
      - name: Format
        run: make format PYTHON=${{ steps.python.outputs.python-path }}
      - name: Check generated
        run: make checkgenerate PYTHON=${{ steps.python.outputs.python-path }}
